#video-share {
    position: absolute;
    top: 0px;
    right: 310px;
    width: 90px;
}

video {
    width: 200px;
    height: 250px;
    margin-top:20px;
    padding-right:5px;
}

.interview_coding_questions {
    text-transform:capitalize;
}

.tab-content {
      height: 300px;
      overflow: scroll;
}
