<ul>
    <li>
        <a href="/auth/github">Login with GitHub</a>
    </li>
    <li>
        <a href="/auth/twitter">
            <img style='border: 0px' src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png'></img>
        </a>
    </li>
</ul>

<% if (message) { %>
<p><%= message %></p>
<% } %>

<form action="/login" method="post">
     <div>
         <label>Username:</label>
         <input type="text" name="username"/><br/>
     </div>
     <div>
         <label>Password:</label>
         <input type="password" name="password"/>
     </div>
     <div>
         <input type="submit" value="Submit"/>
     </div>
</form>
