<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="#/" class="navbar-brand">ScreenEasy</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#/schedule"><b>Schedule</b></a>
        </li>
        <li>
          <a href="#/candidate/setup"><b>Questions</b></a>
        </li>
        <li>
          <a href="#/login"><b>Login</b></a>
        </li>
      </ul>
    </div>
  </div>
</div>
