<div ng-hide="'showRedirect'">
    Please <a href="#schedule">set up a candidate</a>. Redirect in 10 seconds.
</div>

<div id="container" ng-show="'showRedirect'">
    <div id="video-share" class="">
        <screenshare room="{{hash}}"></screenshare>
    </div>

    <div id="interview">
        <div class="profile row">
          <div class="col-xs-8 col-md-6">
              <span class="col-xs-6">
                  <h4>{{developer.profile.name}}</h4>
                  <p>{{developer.profile.location}}</p>
              </span>
              <img ng-src="{{developer.profile.avatar_url}}" class="img-thumbnail" />
              <ul class="list-group">
                <li class="list-group-item">
                Followers <span class="badge">{{developer.profile.followers}}</span>
                </li>
                <li class="list-group-item">
                Following <span class="badge">{{developer.profile.following}}</span>
                </li>
                <li class="list-group-item">
                Gists <span class="badge">{{developer.profile.public_gists}}</span>
                </li>
                <li class="list-group-item">
                Repos <span class="badge">{{developer.profile.public_repos}}</span>
                </li>
              </ul>
          </div>
          <div class=col-md-6">
                hello world
          </div>
        </div>

        <div ng-repeat="question in techQuestions">
           <h3>{{question.title}}</h3>
           <fireace firebaseurl="https://screeneasy.firebaseIO.com/interview/questions/{{hash}}/{{question.id}}"></fireace>
        </div>
        <br/>
        <input type="submit" class="btn" value="End Interview" />
    </div>
</div>
