<div ng-init="addingQuestion=false" class="row tech-questions">
   <a class="span4" href="javascript://" ng-click="addingQuestion=true" ng-hide="addingQuestion">Add a Question</a>
   <div ng-show="addingQuestion" class="span4">
      <p><strong>Add Technical Question</strong></p>
      <label>Title</label>
      <input type="text" ng-model="question.title" />
      <label>Question</label>
      <textarea ng-model="question.body" /></textarea>
      <label>Source</label>
      <textarea ng-model="question.source" /></textarea>
      <a href="javascript://" class="btn btn-primary" ng-click="addQuestion(); ">Submit</a>
      <a href="javascript://" ng-click="addingQuestion=false">Cancel</a>
   </div>
</div>

<div class="bar">
  <input type="text" ng-model="searchQuestions" placeholder="Enter your search terms" />
</div>

<ul>
  <li ng-repeat="question in questions | interviewQuestions:searchQuestions">
      <p>id: {{question.id}}</p>
      <p>title: {{question.title}}</p>
      <p>body: {{question.body}}</p>
      <p>source: {{question.source}}</p>
      <p>created: {{question.created}}</p>
  </li>
</ul>
