<div ng-include="'views/header.html'"></div>

<div id="home" class="container">
    <div class="row">
        <div class="hero">
            <div class="col-sm-8 col-sm-offset-2">
              <h1>We make technical screening easy</h1>
              <ul class="list-unstyled sub_headline text-muted">
                  <li>Real time code collaboration</li>
                  <li>Share/Organize interview questions</li>
              </ul>
              <a href="#/login" class="btn btn-primary btn-group-xs" onclick="">Join Private Beta</a>
            </div>
        </div>
    </div>
</div>
