<div id="home" class="container">
    <div class="row">
        <div class="hero">
            <div class="col-sm-8 col-sm-offset-2">
              <h1>We make technical screening easy</h1>
              <hr>
              <ul class="list-unstyled sub_headline text-muted">
                  <li>Real time code collaboration</li>
                  <li>Share/Organize interview questions</li>
              </ul>
              <a href="#/schedule" class="btn btn-primary btn-lg" onclick="">Start to Interview</a>

              <p>No credit card required</p>
            </div>
        </div>
    </div>
</div>
