<div id="home" class="container">
    <div class="row">
        <div class="hero">
            <div class="col-sm-8 col-sm-offset-2">
              <h1>We make technical screening easy</h1>
              <hr>
              <ul class="list-unstyled sub_headline text-muted">
                  <li>Real time code collaboration</li>
                  <li>Share/Organize interview questions</li>
              </ul>
              <div id="branding_box">
                  <a href="#/schedule" class="btn btn-primary btn-lg">START INTERVIEW</a>
                  <span style="margin-left: 1em; margin-right: 1em; display:inline-block" class="bl-hide-for-medium-up">or</span>
                  <a href="#/login" class="btn btn-primary btn-lg">SIGN UP</a>
              </div>

              <p>No credit card required</p>
            </div>
        </div>
    </div>
</div>
