<div class="container">
    <p ng-repeat="error in errors">{{error}}</p>
    <div class="row">
        <div class="col-md-6">
            <div class="candidate">
                <h4 class="sub_headline text-muted">Candidate Information</h4>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="candidate.name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="candidate.name" placeholder="John Smith" ng-model="candidate.name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="candidate.email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="candidate.email" placeholder="john.smith@gmail.com" ng-model="candidate.email" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="candidate.phone" class="col-lg-2 control-label">Phone</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="candidate.phone" placeholder="(206) 123-4567" ng-model="candidate.phone">
                    </div>
                  </div>
                </form>
            </div>

            <div class="interviewer">
                <h4 class="sub_headline text-muted">Interviewer Information</h4>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="interviewer.name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="interviewer.name" placeholder="John Smith" ng-model="interviewer.name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="interviewer.email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="interviewer.email" placeholder="john.smith@gmail.com" ng-model="interviewer.email" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="interviewer.phone" class="col-lg-2 control-label">Phone</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="interviewer.phone" placeholder="(206) 123-4567" ng-model="interviewer.phone">
                    <label for="candidate.github_handle" class="col-lg-2 control-label">GitHub name:</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="candidate.github_handle" placeholder="johnsmith" ng-model="candidate.github_handle">
                    </div>
                  </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Pick a date and time</h3>
            <input type="text" ng-model="interviewDate" placeholder="2012-08-12" />
            <input type="text" ng-model="interviewTime" placeholder="12:30" />
        </div>
        <p>
           <input type="submit" value="Schedule" class="btn btn-info" ng-click="scheduleInterview()" />
        </p>
    </div>
</div>
